language: node_js
node_js:
  - "6.3"

addons:
  # Node 5 requires a C++11 standard compliant compiler, so we'll use gcc.
  # See more info at https://docs.travis-ci.com/user/languages/javascript-with-nodejs#Node.js-v4-(or-io.js-v3)-compiler-requirements.
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

env:
  global:
    - CXX=g++-4.8 # This is linked to the issue above with Node 5

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  # Give xvfb some time to start
  - sleep 5

install:
  - npm install --loglevel silent
  - $(npm bin)/typings install

script:
  - npm run lint
  - npm run test
  - npm run build
